---
layout: default
---

<article>
  <section class="title">
    <h2>{{ page.title }} </h2>
  </section>
  <section class="meta">
  <span class="time">
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
  {% if page.tags %}
  <span class="tags">
    {% for tag in page.tags %}
    <a href="/tags.html#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </span>
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="custom" data-btn_size="16" data-f_size="0" data-icon_l="thmb7-u" data-icon_size="12" data-icon_l_c="rgba(119,119,119,0.52)" data-icon_l_c_v="rgba(119,119,119,0.5)" data-label_c="rgba(85,85,85,0.39)" data-counter_l_c="rgba(0,0,0,0.44)" data-counter_d_c="rgba(0,0,0,0.29)" data-bg_c="#ffffff" data-brdr_c="rgba(224,223,223,0.93)" data-label_fs="r" data-identifier="item_1" data-show_like_label="false" data-dislike_enabled="false"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
  {% endif %}
  </section>

  <section class="post">
  {{ content }}
  </section>

  


  <div class="divider">
    <span>
    {% if page.previous %}
    <a href="{{ page.previous.url }}"><i class="fa fa-chevron-left"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>

    <span>
    {% if page.next %}
    <a href="{{ page.next.url }}"><i class="fa fa-chevron-right"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
  </div>

</article>